<form action="index.php" method="post">
    <input type="hidden" name="action" value="createroot" />
    <input type="hidden" name="{{ session_name }}" value="{{ session_id }}" />

    <button class="btn btn-primary" type="submit" name="submit">{{ label_create }}</button>

    <p />

    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="content-tab" data-toggle="tab" href="#content" role="tab" aria-controls="content" aria-selected="true">{{ label_site }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="permissions-tab" data-toggle="tab" href="#permissions" role="tab" aria-controls="permissions" aria-selected="false">{{ label_permissions }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="inherit-permissions-tab" data-toggle="tab" href="#inherit-permissions" role="tab" aria-controls="inherit-permissions" aria-selected="false">{{ label_inherit_permissions }}</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
        <div class="tab-pane fade show active" id="content" role="tabpanel" aria-labelledby="content-tab">

          <div class="form-group">
            <label for="titleText">{{ label_name }}</label>
            <input type="text" class="form-control" id="titleText" aria-describedby="titleText" name="title">
          </div>

          <div class="form-group">
            <label for="aliasText">{{ label_alias }}</label>
            <input type="text" class="form-control" id="aliasText" aria-describedby="aliasText" name="alias">
          </div>

          {% if show_tooltip %}
          <div class="form-group">
            <label for="tooltipText">{{ label_tooltip }}</label>
            <input type="text" class="form-control" id="tooltipText" aria-describedby="tooltipText" name="tooltip">
          </div>
          {% endif %}

          {% if show_order %}
          <div class="form-group">
            <label for="sortingText">{{ label_priority }}</label>
            <input type="text" class="form-control" id="sortingText" aria-describedby="sortingText" name="sorting" value="0">
          </div>
          {% endif %}

        </div>

        {% if show_right_panels %}
        <div class="tab-pane fade" id="permissions" role="tabpanel" aria-labelledby="permissions-tab">
            {{ right_panel|raw }}
        </div>
        <div class="tab-pane fade" id="inherit-permissions" role="tabpanel" aria-labelledby="inherit-permissions-tab">
            {{ right_panel_inherit|raw }}
        </div>
        {% endif %}

        </div>
      </div>
    </div>
</form>
