{% extends "layout.html" %}

{% block title %}{{ 'Search'|trans }} - {{ site_title }}{% endblock %}

{% macro breadcrumbs(path, highlight) %}
    {% for crumb in path %}
        <li class="breadcrumb-item"><a href="{{ base_url }}index.php?id={{ crumb.pageId }}{% if highlight %}&highlight={{ highlight }}{% endif %}">{{ crumb.title }}</a></li>
    {% endfor %}
{% endmacro %}

{% block body %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="border-bottom: 3px solid #F88529;">
    <a class="navbar-brand" href="{{ base_url }}index.php">{{ site_title }}</a>
    <form class="form-inline my-2 my-lg-0 ml-auto" action="{{ base_url }}search" method="get">
        <input class="form-control mr-sm-2" type="text" name="q" value="{{ query }}" placeholder="{{ 'Search'|trans }}" aria-label="{{ 'Search'|trans }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ 'GO'|trans }}</button>
    </form>
</nav>

<div class="container" style="margin-top: 20px;">

    <p>{{ 'Search for'|trans }} <b>'{{ query }}'</b></p>

    <div class="card">
        <div class="card-header">{{ 'Content'|trans }}</div>
        <div class="card-body">
            {% for hit in content %}
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                    {{ _self.breadcrumbs(hit.path, highlight) }}
                    {% if hit.title != '' %}
                        <li class="breadcrumb-item">"<a href="{{ base_url }}index.php?highlight={{ highlight }}&id={{ hit.pageId }}#{{ hit.contentId }}">{{ hit.title }}</a>"</li>
                    {% endif %}
                    <li class="breadcrumb-item">
                        <a class="btn btn-sm btn-outline-secondary" href="{{ base_url }}index.php?highlight={{ highlight }}&id={{ hit.pageId }}&oc={{ hit.contentId }}#{{ hit.contentId }}">{{ 'show'|trans }}</a>
                    </li>
                </ol>
            {% else %}
                {{ 'Nothing found'|trans }}
            {% endfor %}
        </div>
    </div>

    <p></p>

    <div class="card">
        <div class="card-header">{{ 'Menu'|trans }}</div>
        <div class="card-body">
            {% for hit in pages %}
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                    {{ _self.breadcrumbs(hit.path, highlight) }}
                </ol>
            {% else %}
                {{ 'Nothing found'|trans }}
            {% endfor %}
        </div>
    </div>

    <p></p>

    <div class="card">
        <div class="card-header">{{ 'Files'|trans }}</div>
        <div class="card-body">
            {% for hit in files %}
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                    {{ _self.breadcrumbs(hit.path, highlight) }}
                    <li class="breadcrumb-item">
                        <span class="badge badge-info">{{ hit.filename }}</span>
                        <span class="badge badge-secondary">{{ (hit.filesize / 1024)|round(1) }} KB</span>
                        <span class="badge badge-light">{{ hit.date }}</span>
                    </li>
                </ol>
            {% else %}
                {{ 'Nothing found'|trans }}
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
