	body {
		margin: 0px 0px 50px 0px;
		background-color:#f9fcfe;
	}
	body.print {
		padding: 0px 20px 20px 20px;
	}
	body div {
		margin: 0px;
	}

	#messagebox
	{
		position: absolute;
		display: none;
		top: 1px;
		left: 200px;
		right: 200px;
		z-index: 5000;
		opacity:0.9;
		filter:alpha(opacity:90);
	}

	#messagebox div
	{
		width: 400px;
		margin: 0px auto;
		height: 24px;
		min-height: 24px;
		padding: 8px 10px 8px 46px;
	}

	#messagebox div.loading
	{
		background: url(../../../images/loading.gif) 6px 3px no-repeat;
		background-color: #EBEBEB;
		border: 1px solid #CCCCCC;
	}

	#contentwarning {
		background: url(../../../images/warning.png) 6px 3px no-repeat;
		background-color: #EF9398;
		border: 1px solid #DC5757;
		width: 400px;
		margin: 0px 0px 10px 0px;
		height: 24px;
		min-height: 24px;
		padding: 8px 10px 8px 46px;
	}

	td.tree {
		padding:0px 5px 0px 5px;
	}

	td.treenavi a {
		color: #ffffff !important;
	}

	div.movetitle {
		background-color:#CFDBC7;
		font-family:verdana, arial, helvetica, sans-serif;
		font-size: 11px;
		font-weight:bold;
		padding:0px 0px 0px 5px;
		border-bottom-style:solid;
		border-bottom-color:#000000;
		border-bottom-width:1px;
	}

	#toroot {
		padding:10px 10px 0px 10px;
	}

	#treecontainer {
		padding:0px 0px 5px 0px;
		text-align: left;
		vertical-align: top;
		width:10px;
	}

	#contentcontainer {
		padding: 0px 15px 20px 15px;
		text-align: left;
		vertical-align: top;
		width:100%;
	}

	#tree {
		padding:0px 0px 0px 10px;
		margin:0px 0px 0px 0px;
	}

	.redmsg {
		color:#ff0000;
	}

	/* BEGIN styles for fckeditor/tinymce integration */
	.Bold
	{
		font-weight: bold;
	}
	.Title
	{
		font-weight: bold;
		font-size: 18px;
		color: #cc3300;
	}
	.cleantable {
		border: 1px solid #CCC;
		width: 100%;
	}
	.cleantable td {
		border: 1px solid #CCC;
	}
	pre
	{
		border: #444 1px solid;
		padding-right: 5px;
		padding-left: 5px;
		color: #008000;
		font-family: 'Courier New' , Monospace;
		background-color: #FFF;
	}
	/* END styles for fckeditor integration */

	.ContentItem {
		padding-left: 0px;
		background-image: none;
		margin-top: 10px;
		margin-bottom: 4px;
		padding-bottom:0px;
	}

	.ContentBodyWrapper {
		padding-left:7px;
		margin-top: 4px;
	}

	/* content history styles*/
	#patch dl { background: #7E966E; padding: 6px; margin: 0px; color: #fff; }
	#patch dt { float: left; width: 7em; font-weight: bold; }
	#patch dt:after { content:':';}
	#patch dl, #header, #footer { font-family: verdana,arial,helvetica,sans-serif; font-size: 10pt;  }
	#patch dl a { font-weight: bold ; color:#fc3;}
	#patch dl a:hover  { color:#ff0; }
	#patch h3 { font-family: verdana,arial,helvetica,sans-serif; font-size: 10pt; font-weight: bold; }
	#patch { width: 100%; }
	#patch h4 {font-family: verdana,arial,helvetica,sans-serif;font-size:10pt;padding:8px;background:#577;color:#fff;margin:0;}
	#patch pre {padding:0;line-height:1.2em;margin:0;}
	#patch .diff {width:100%;background:#eee;padding: 0px;overflow:auto;border:none;}
	#patch span {display:block;padding:0 10px;}
	#patch .modfile {border:1px solid #4C7D3C;margin:10px 0;}
	#patch ins {background:#dfd;text-decoration:none;display:block;padding:0 10px;}
	#patch del {background:#fdd;text-decoration:none;display:block;padding:0 10px;}
	#patch .lines, .info {color:#888;background:#fff;}

	.highlightword {
		color: #cf3020;
		font-family: verdana,arial,helvetica,sans-serif;
		font-size: 14px;
		border-bottom:1px dotted #cf3020;
		font-weight: bold;
	}

	.card-header .fa {
		transition: .3s transform ease-in-out;
	}
	.card-header .collapsed .fa {
		transform: rotate(90deg);
	}

