{% extends "admin/layout.html" %}

{% block title %}{{ 'configure'|trans }}{% endblock %}

{% block content %}
<h2>{{ 'current configuration'|trans }}</h2>

{% for section, values in sections %}
    <div class="card mb-3">
        <div class="card-header">[{{ section }}]</div>
        <div class="card-body">
            {% for key, value in values %}
                {% if value is iterable %}
                    {% for k2, v2 in value %}
                        <div><code>{{ key }}.{{ k2 }}</code> = {{ v2 is iterable ? v2|json_encode : v2 }}</div>
                    {% endfor %}
                {% else %}
                    <div><code>{{ key }}</code> = {{ value }}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock %}
