<!doctype html>
<html lang="en">
<head>
	<style>
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            /* Margin bottom by footer height */
            margin-top: 60px;
        }

        .form-signin {
            width: 100%;
            max-width: 360px;
            padding: 15px;
            margin: 0 auto;
        }
    </style>
	<link rel="stylesheet" href="admin.css" type="text/css" />
	{{ head|raw }}
</head>
<body>
<div style="display: none;" id="messagebox">
  <div id="msg" class="loading">lade...</div>
</div>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="border-bottom: 3px solid #F88529;">
        <a class="navbar-brand" href="javascript:;">Knowledgeroot</a>
    </nav>
</header>

<div class="container-fluid">
    <div class="row">
        <ul class="list-group">
            {{ admin_menu|raw }}
        </ul>
        <div class="col-10">
            {{ admin_content|raw }}
        </div>
    </div>
</div>

{{ debug|raw }}
</body>
</html>
